input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}

input[type="password"]::-webkit-contacts-auto-fill-button,
input[type="password"]::-webkit-inner-spin-button,
input[type="password"]::-webkit-outer-spin-button,
input[type="password"]::-webkit-search-cancel-button,
input[type="password"]::-webkit-search-decoration,
input[type="password"]::-webkit-search-results-button,
input[type="password"]::-webkit-search-results-decoration {
    display: none;
}

.search::placeholder {
    color: gray; 
  }

